/* html grid */

.container{
    margin: 0px 70px;
    height:95%;
    width: 90%;
    display: grid;
    grid-template-rows: 200px 670px;
    grid-row-gap: 5px;
    grid-template-areas: 
    'header header header'
    'body body body';
 }
 .header{
    grid-area: header;
 }
 .body{
    grid-area: body;
 }
 
 .box {
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 5px;
    padding: 20px;
    font-size: 150%;
 }
 
 .overlay {
    width: 700px;
    height: 100px;
    margin-top: 175px;
    margin-left: 265px;
    grid-column: header-start / body-end;
    grid-row: header-start / body-end;
 }
 
 /* body grid */
 
 .top{
    grid-area: one;
    background: transparent;
 }
 .mid{
    grid-area: two;
    background: transparent;
 }
 
 .text1{
    grid-area: four;
    background: #888e91;
 }
 .text2{
    grid-area: five;
    background: #888e91;
 }
 .text3{
    grid-area: six;
    background: #888e91;
 }
 
 .body{
    display: grid;
    padding-top: 100px;
    padding: 30px;
    height: 105%;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 15px;
    grid-template-areas: 
    'one four four'
    'five five two'
    'six six six';
 }
 .body > div{
    padding: 0px 20px;
    border: 2px solid #07b0ff;
 }
 
 /* nav styles */
 nav li{
    margin-top: 0px;
    float: left;
    list-style: none;
 }
 nav a{
    margin: 0px 10px;
    text-decoration: none;
    font-weight: bolder;
    color: white;
 }
 nav{
    float: right;
    margin-bottom: 10px;
    margin-right: 150px;
 }
 
 /* background styles */
 
 html{
    background: linear-gradient(#888e91, #030303) no-repeat;
    color: white;
    height: 1100px;
 }
 
 /* body styles */
 
 .img:hover{
    transform: scale(1.07);
    transition: transform 2s;
 }
 
 /* div.col-1-4{
    width: 175px;
 } */
 button{
    float: left;
    width: 700px;
    height: 50px;
    font-weight: bolder;
    font-size: 20px;
    background: #888e91;
    border: 2px solid #07b0ff;
 }
 button:hover{
    background:#bfc7e0;
 }
 .header > h1{
    color: #07b0ff;
    margin-top: 7px;
    font-size: 100px;
    font-weight: bolder;
    text-align: center;
 }
 .header > h1:hover{
    color: #bfc7e0;
    text-shadow: #6479b6 0px 0px 25px;
    transition: color 1s, text-shadow 1s;
 }
 h1{
    font-size: 55px;
    margin-left: 2px;
 }
 img{
    padding-top: 10px;
    padding-left: 20px;
    width: 300px;
    height: 198px;
 }
 h2{
    font-size:45px;
    text-align: center;
 }
 /* page2 */
 .container2{
    margin: 0px 70px;
    height:95%;
    width: 90%;
    display: grid;
    grid-template-rows: 200px 640px;
    grid-row-gap: 5px;
    grid-template-areas: 
    'header header header'
    'body body body';
 }
 .header{
    grid-area: header;
 }
 .body2{
    grid-area: body;
 }
 
 .box2 {
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 5px;
    padding: 20px;
    font-size: 150%;
 }
 
 div.bg{
    background: #888e91;
    width: 1000px;
    height: 515px;
    margin-top: 90px;
    margin-left: 80px;
    border: 2px solid #07b0ff
 }
 div.bg > img{
    margin-left: 325px;
 }
 p{
    padding-left: 12px;
    font-size: 25px;
 }
 div.bg p::first-letter{
    font-size: 30px;
 }
 div.bg h1{
    text-align: center;
    font-size: 45px;
 }