html{
    height: 1200px;
    width: 100%;
     margin: 0px;
     padding: 0px;
     border: 0px;
     background: linear-gradient( rgb(0,54,124), rgb(0,30,77)) no-repeat;
 }
 
 body{
     height: 100%;
 
 }
 
 
 /* header and the theme button nav */
 .header{
    padding: 0px;
    margin: 0px;
    border: none;
    width: 100%;
    height: 300px;
 }
 
 nav#themes ul{
    list-style: none;
 }
 nav#themes a{
    float: right;
    text-decoration: none;
    color: #49418c;
    letter-spacing: 2px;
    padding-right: 15px;
 }
 nav#themes a:hover{
    color: #12103d;
    text-align: center;
 }
 
 button{
   float: left;
   color: #12103d;
   font-size: 20px;
   font-weight: bold;
   background: transparent;
   border-radius: 50px;
   border: 2px solid #12103d;
   margin: 5px;
   padding: 10px;
   width: 100px;
   height: 50px;
 }
 
 button:hover{
   color:  #efbf7f;
   background: #12103d;
   font-weight: 5px;
   transition: background 1s;
 }
 
 div.col-1-4{
    width: 25%;
    float: left;
 }
 div.col-1-2{ 
    width: 50%;
    float: left;
 }
 
 h1#header{
    font-size: 45px;
    margin-top: 25px;
    margin-left: 0px;
    position: relative;
    text-align: left;
    color: #12103d;
 }
 nav#themes{
    position: relative;
    margin-bottom: 50px;
 }
 nav#themes > ul{
    padding: 0px;
 }
 nav#themes li {
    float: right;
    text-align: center;
    margin-bottom: 10px; 
    padding: 0px 20px;
 }
  
 img#car{
     filter: drop-shadow(black 5px 5px 10px);
     width: 4in;
     height: 4in;
     margin-right: 0px;
 }
 
 /* grid layout */
 
 .item3{grid-area: three;
    border: 2px solid #12103d;
 }
 .item4{grid-area: four;}
 
 .container{
     display: grid;
     height: 55%;
     grid-template-rows: 1fr 3fr;
     grid-template-columns: 1fr 1fr 1fr;
     grid-template-areas: 
     'four four four three'
     'four four four three';
     grid-column-gap: 15px;
     grid-row-gap: 20px; 
     padding: 10px;
     background: rgb(10, 46, 80);
 }
 
 .container > div {
     background: rgb(144,152,189);
     padding: 0px 20px;
     font-size: 30px;
     border-radius: 15px;
     box-shadow: inset white 5px 5px 5px;
     box-shadow: inset grey -5px -5px 5px;
  }
 
 h1{
    margin-top: 5px;
    margin-bottom: 0px;
    text-align: center;
    color: #12103d;
 }
 
 p{
     margin-left: 10px;
 }
 
 nav#pages ul{
    list-style: none;
 }
 nav#pages li{
    margin: 15px;
 }
 nav#pages a{
    text-decoration: none;
    font-size: 25px;
    padding-right: 30px;
    color: rgb(10, 46, 80);
 }
 
 nav#pages a:hover{
    color: #12103d;
 }
 
 