html{
    height: 960px;
    width: 100%;
    margin: 0px;
    padding: 0px;
    border: 0px;
    background:linear-gradient(#253031,#315659)no-repeat;
}

body{
    height: 100%;
}


/* header and the theme button nav */
.header{
   padding: 0px;
   margin: 0px;
   border: none;
   width: 100%;
   height: 350px;
   background: url(space.jpg) 100%/cover no-repeat;
   
}

nav#themes ul{
   list-style: none;
}
nav#themes a{
   float: right;
   text-decoration: none;
   color: #301a2f;
   letter-spacing: 2px;
   padding-right: 15px;
}
nav#themes a:hover{
   color: rgb(214, 143, 12);
   text-align: center;
}

button{
  float: left;
  color: rgb(214, 143, 12);
  font-size: 25px;
  font-weight: bold;
  background: transparent;
  border-radius: 50px;
  border: 2px solid rgb(214, 143, 12);
  margin: 5px;
  padding: 10px;
  width: 100px;
  height: 70px;
}

button:hover{
  color:  #301a2f;
  background: rgb(214, 143, 12);
  font-weight: 5px;
}

div.col-1-4{
   width: 25%;
   float: left;
}
div.col-1-2{ 
   width: 50%;
   float: left;
}

img{
   margin-right: 0px;
}

h1#header{
   font-size: 45px;
   margin-top: 25px;
   margin-left: 0px;
   position: relative;
   text-align: left;
   color: rgb(214, 143, 12);
}
nav#themes{
   position: relative;
   margin-bottom: 50px;
}
nav#themes > ul{
   padding: 0px;
}
nav#themes li {
   float: right;
   text-align: center;
   margin-bottom: 10px; 
   padding: 0px 20px;
}

/* grid layout */
.item1{grid-area: one;}
.item2{grid-area: two;}
.item3{grid-area: three;
   border: 2px solid rgb(214, 143, 12);
}
.item4{grid-area: four;}

.container{
    display: grid;
    height: 65%;
    grid-template-rows: 1fr 3fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
    'one one two three'
    'four four four three';
    grid-column-gap: 15px;
    grid-row-gap: 20px; 
    padding: 10px;
    background: #321483;
}

.container > div {
    background: rgba(124, 124, 124, 0.2);
    padding: 0px 20px;
    font-size: 30px;
    border-radius: 15px;
 }

h1{
   margin-top: 5px;
   margin-bottom: 0px;
   text-align: center;
   color: rgb(214, 143, 12);
}
 
nav#pages ul{
   list-style: none;
}
nav#pages li{
   margin: 15px;
}
nav#pages a{
   text-decoration: none;
   font-size: 25px;
   padding-right: 30px;
   color: black;
}

nav#pages a:hover{
   color: rgb(214, 143, 12);
}

 footer{
   height: 5%;
   background: #06030a;
 }
 
 body{
    height: 100%;
 }
 .item1{grid-area: one;}
 .item2{grid-area: two;}
 .item3{grid-area: three;
    border: 2px solid rgb(214, 143, 12);
 }
 .item4{grid-area: four;}
 
 .container{
     display: grid;
     height: 55%;
     grid-template-rows: 1fr 3fr;
     grid-template-columns: 1fr 1fr 1fr;
     grid-template-areas: 
     'one one two three'
     'four four four three';
     grid-column-gap: 15px;
     grid-row-gap: 20px; 
     padding: 10px;
     background: #315659;
 }
 
 .container > div {
     background:#253031;
     padding: 0px 20px;
     font-size: 30px;
     border-radius: 15px;
  }
 

div.col-1-4{
    width: 25%;
    float: left;
}
div.col-1-2{ 
    width: 50%;
    float: left;
}

h1#header{
    font-size: 45px;
}