html{
    background: rgb(77, 77, 77);
    height: 100%;
    color: white;
}
body{
    width:100%;
    /* min-width: 640px;
    max-width: 960px; */
    margin-left:auto;
    margin-right:auto;
    margin-top: 0px;
    height: 100%;

 }

div.row{
    clear: both;
}
div.row::after{
    clear: both;
    content: "";
    display: table;
}

div[class^="col"]{
    float: left;
}
div.col-1-1{width: 100%;}
div.col-2-3{width: 67%;}
div.col-1-3{width: 33%;}

nav ul {
    width: 100%;
 }
 nav ul li a {
    display: block;
    padding: 5px 20px;
    width: 100%;
 }

nav ul{
    list-style: none;
}
nav a{
    text-decoration: none;
    color: grey;
}

h1{
    text-align: center;
}

div#header{
    width: 100%;
    background: #122f68;
    margin-top: 0;
}

div#header section{
    padding-left: 250px;
}
button{
    width: 100px;
    height: 50px;
    padding: 5px;
    margin: 15px;
    border-radius: 15px;
    font-size: 25px;
    background: #ffbc64;
    border: none;
}

article{
    background: white;
    padding: 5px 20px;
    margin: 0px 20px;
    border-radius: 25px;
    border: 5px;
    border-style: solid;
    border-color: #ffbc64;
}

aside{
    background: white;
    width: 200px;
    margin: 0px 75px;
}
a {
    display: block;
 }
 
 nav ul {
    display: none;
 }
 
 a:hover+ul, nav ul:hover {
    display: block;
 }

 img{
     margin: 25px;
     margin-left: 100px;
 }